.runs-table {
    padding: 20px;
}

.runs-table tr.running, .runs-table tr.waiting {
    background: #FFF3CD;
}
.runs-table tr.unknown, .runs-table tr.failure {
    background: #F8D7DA;
}
.runs-table tr.success {
    background: #FEFEFE; /*#CCE5FF;*/
 }

.runs-table td.run-output a {
    padding: 10px;
}
