const urljoin = require('url-join');

const basePath = ''

let toExport = {
    assetPrefix: basePath,
    publicRuntimeConfig: {
        basePath: basePath
    },
    env: {
        fileCache: {
            rootDir: '/tmp/bluesky-aws-admin-cache/',
            ttlSeconds: 60 * 15
        },
        s3: {
            bucketName: 'bluesky-aws',
            outputPath: 'output'
        },
        web: {
            // This needs to be http://localhost:3000
            // if running outside of docker
            baseEndpoint: urljoin('http://localhost:3030', basePath)
        },
        output: {
            // Note: the output endpoint will be formed from
            // web.baseEndpoint and s3.outputPath
            blueskyOutputPathPrefix: 'dispersion-visualization',
            // If a bluesky output viewer is available, you can specify
            // a url like 'http://<domain>/bluesky-viewer/run?url={url}',
            // where '{url}' will be replaced with the link to the
            // the output files served by nginx
            viewerUrlTemplate: null
        }
    }
}

toExport.env.output.outputEndpoint = urljoin(
    toExport.env.web.baseEndpoint, toExport.env.s3.outputPath)

module.exports = toExport;
