module.exports = {
    env: {
        s3: {
            'bucketName': 'bluesky-aws',
            'outputPath': 'output'
        },
        api: {
            baseEndpoint: 'http://localhost:3000'
        }
    }
}
