const basePath = ''

module.exports = {
    assetPrefix: basePath,
    publicRuntimeConfig: {
        basePath: basePath
    },
    env: {
        links: {
            useNextLink: !basePath,
        },
        s3: {
            bucketName: 'bluesky-aws',
            outputPath: 'output'
        },
        api: {
            baseEndpoint: 'http://localhost:3000'
        }
    }
}
